.navbar {
    justify-content: space-between;
}

.navbar__icon {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 0 10%;
}

.navbar__group {
    list-style: none;
    display: flex;
    width: 100%;
    height: 52px;
    align-items: center;
    justify-content: center;
    color: $light-grey;
}

.navbar__item {
    padding: 10px;
    min-width: 40px;
    text-align: center;
    cursor: pointer;
    transition: all .3s ease;

    &:hover {
        background: #c0c0c024;
    }
}

.navbar__item-select {
    background: $primary;
    color: $white;
    transition: all .3s ease;
    &:hover {
        background: darken($color: $primary, $amount: 15);
    }
}

.navbar__group-activate {
    display: block !important;
    animation-name: movementRight;
    animation-duration: 4s;
}
@keyframes movementRight {
    0%   {width: 0%;  right:0px;}
    25%  {width: 100%; right:200px}
  }
@media (max-width: 600px) {
    .navbar {
        justify-content: space-between;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 15px 0;
        background: $white;
    }
    .navbar__group {
        display: none;
        position: fixed;
        top: 66px;
        left: 0;
        background: $white;
        width: 100%;
        height: 100vh;
    }

    
    .navbar__item {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20%;
    }
}